<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="layout" value="${longdate}|[${level}]|${logger}|${message}${onexception:inner=|${exception}${when:when=(level > LogLevel.Warn):inner=|[!] ${exception:format=ToString:innerFormat=Message:maxInnerExceptionLevel=256}}}"/>
  <targets>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="ContinuousRunner.log" layout="${layout}" />
    </target>
    <target xsi:type="ColoredConsole" name="console" layout="${layout}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="asyncFile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>